@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
  --font-mulish: "Mulish", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-68pt: 91px;
  --font-size-36pt: 48px;
  --font-size-24pt: 32px;
  --font-size-21pt: 28px;
  --font-size-18pt: 24px;

  --color-blue-france: #0a2ff1;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  height: max-content;
}

@media only screen and (min-width: 992px) {
  body {
 
    width: 95%;
  }
}
@media only screen and (min-width: 1200px) {

}

header {
  display: flex;
  flex-direction: row;
  height: 30vh;
}

@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {
}

header > h1 {
  margin: auto 0;
  font-family: var(--font-mulish);
  font-size: var(--font-size-36pt);
  font-weight: var(--font-weight-bold);
  color: var(--color-blue-france);
  height: max-content;
}

@media only screen and (min-width: 992px) {
  header > h1 {
    font-size: var(--font-size-68pt);

  }
}
@media only screen and (min-width: 1200px) {

}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  margin: 0 auto;

}

@media only screen and (min-width: 992px) {
  main {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    flex-wrap: nowrap;
    height: 70vh;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.5rem auto;
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 992px) {
  .card {
    margin: 0.5rem;
    width: 48%;
    height: 45vh;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    margin: auto 0.5rem;
    width: 24%;
    height: 35vh;
  }
}

.card > h2,
.card > p {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  font-family: var(--font-mulish);
  font-size: var(--font-size-21pt);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  width: 100%;
  padding: 5px;
}

.card > p {
  font-size: var(--font-size-18pt);
  font-weight: var(--font-weight-regular);
}

.card-one {
  background-image: url(../rcs/ProgramasInternacionales.png);
}
.card-two {
  background-image: url(../rcs/ParcticasProfesionales.png);
}
.card-three {
  background-image: url(../rcs/Becas.png);
}
.card-four {
  background-image: url(../rcs/CampusVirtual.png);
}
